/vel_model
*__pycache__
/test_format
/test/seis
/test/das
/test_agu
/Seis_20240401_20240417

# output and some text
*.png
gmt.history
*.log
*.csv
*.dout
*.P24
*.ps



# model
/model_phasenet
/model_phasenet_das

# test file
test*.py
play.py
plot_design.py

testset*
# H3DD
/H3DD/*.dat_ch
/H3DD/*out
/H3DD/h3dd.inp
/H3DD/station.all.select

# GAfocal
/GAfocal/results.txt

# result_dir
/gamma_result
/result_test

