/vel_model
*__pycache__
/test_format
/test/seis
/test/das
/test_agu
/test_fig_dir
/Seis_20240401_20240417
/Data_fetching
/geo_map
/autoquake/visualization/geo_map
/script_to_tidy_up
# output and some text

gmt.history
*.log
*.csv
*.dout
*.hout
*.dat_ch
*.P24
*.ps
*gamma_config.txt


# model
/model_phasenet
/model_phasenet_das

# test file
test*.py
play.py
plot_design.py
plotter.py
pol_test.py
retrieve_pol.py
tutorial.ipynb
aso.py
focal_test.py
autoquake_example.ipynb
plot_example.ipynb
plot.ipynb
# plot.ipynb

testset*
# H3DD
/H3DD/*.dat_ch
/H3DD/*out
/H3DD/h3dd.inp
/H3DD/station.all.select

# GAfocal
/GAfocal/results.txt
/GAfocal/psplots/output/
# result_dir
/gamma_result
/result_test
/H3DD/previous
/H3DD/cutoff_test
/H3DD/h3dd_twice