[submodule "EQNet"]
	path = EQNet
	url = git@github.com:IES-ESLab/EQNet.git
[submodule "PhaseNet"]
	path = PhaseNet
	url = git@github.com:IES-ESLab/PhaseNet.git
[submodule "autoquake/GaMMA"]
	path = autoquake/GaMMA
	url = git@github.com:IES-ESLab/GaMMA.git
